.flex {
    display: flex;
    justify-content: center;
}

.flex-left {
    display: flex;
    gap: 8px;
}

.flex-right {
    padding-left: 10px;
}

.anchor-right {
    margin-left: auto;
    padding-right: 0px !important;
}

.Tooltip {
    font-size: 90%;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    width: max-content;
    max-width: 450px;
    z-index: 8888;

    display: inline-flex;
    justify-content: space-between;
    color: #ffffff;
    background: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    padding: 12px;
    margin: auto;
}
